.header {
  position: fixed;
  top: 0;
  width: calc(100% - 4rem);
  background-color: var(--gray-primary);
  display: flex;
  align-items: center;
  padding: 1rem 2rem 1rem 2rem;
  justify-content: space-between;
}

.header-laptop  {
  display: none;
}

.container {
  display: flex;
  flex-direction: row;
  gap: 1rem;
  align-items: center;
}

.container .avatar {
  width: 5rem;
  border-radius: 100%;
}

.container p {
  color: var(--white);
  font-size: 1.4rem;
  font-weight: 600;
}

.menu {
  position: relative;
  background-color: transparent;
  border: none;
  cursor: pointer;
}

.menu input {
  display: none;
}

.nav {
  position: absolute;
  visibility: hidden;
  transition: opacity 0.4s ease, visibility 0.4s ease;
}

.hide {
  right: 0;
  top: 7rem;
  opacity: 0;
}

.show {
  right: 0;
  top: 7rem;
  opacity: 1;
  visibility: visible;
}

.nav ul {
  background-color: var(--gray-primary);
  padding: 0 2rem 1rem 2rem;
  color: var(--white);
  font-size: 1.2rem;
  text-align: right;
}

.nav li {
  display: flex;
  justify-content: right;
  font-size: 1.3rem;
  font-weight: 600;
  padding: 0.5rem;
}

.nav button {
  border: none;
  background-color: transparent;
  color: var(--white);
  font-size: 1.2rem;
  padding: 0;
  font-size: 1.3rem;
  font-weight: 600;
}

@media screen and (min-width: 1200px) {
  .header {
    display: none;
  }
  .header-laptop{
    display: block;
    background-color: var(--gray-primary);
  }
  .header-laptop .container-laptop p {
    color: var(--white);
    font-weight: 600;
    font-size: 2.5rem;
  }
  .header-laptop .container-laptop {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 1rem;
  }
  .header-laptop .container-laptop .container-icon {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 1rem;
  }
  .header-laptop .container-laptop .container-icon .icon  {
    width: 2rem;
    height: 2rem;
  }
 .header-laptop .container-laptop .avatar {
  width: 5rem;
  border-radius: 100%;
  }
}
