.login {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  height: 100vh;
  gap: 5rem;
}

.login-buttons {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-flow: column wrap;
  gap: 2rem;
  position: relative;
}

.message-error {
  color: red;
  position: absolute;
  font-size: 1.2rem;
}

.email {
  top: 3.7rem;
}

.password {
  top: 9.1rem;
}
