.navbar {
  display: flex;
  justify-content: space-between;
  padding: 1rem 4rem;
  background-color: var(--gray-primary);

  position: fixed;
  bottom: 0;
  width: calc(100% - 8rem);

  z-index: 2;
}

.navbar a {
  display: flex;
  justify-content: center;
}

.point {
  display: flex;
  position: absolute;
  bottom: 0;
  display: none;
  margin-top: 0.2rem;
}

.active .point {
  display: block;
}
