.btn {
  border: none;
  background-color: var(--primary);
  border-radius: 2rem;
  color: var(--white);
  padding: 1rem;
  width: 20rem;
  font-weight: 600;
}

.btn:active {
  background: #d1b92e99;
}
