:root {
  --primary: #e7c929;
  --primaryOpacity: rgba(231, 201, 41, 0.2);
  --primaryActive: #d1b92e99;
  --black: #252525;
  --gray-primary: #353434;
  --gray-secondary: #e2e2e2;
  --white: #ffffff;
  --red: #ba2929;
}
