.welcomeTitle {
  padding-top: 3rem;
  color: var(--white);
  font-size: 3.2rem;
  font-weight: 600;
}

.welcome-user {
  padding-bottom: 2rem;
  color: var(--white);
  font-size: 3.2rem;
  font-weight: 600;
}

.newIn {
  display: flex;
  justify-content: left;
  font-size: 2.4rem;
  font-weight: 600;
  color: var(--white);
  padding: 2rem;
}

.newInSection {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(10.5rem, 1fr));
  /* justify-content: center;
  flex-wrap: wrap; */
  align-items: start;
  gap: 2rem;
  padding: 2rem;
}

.favouriteList {
  display: flex;
  justify-content: center;
  align-items: top;
  flex-direction: row;
  flex-wrap: wrap;
  gap: 1rem;
  padding: 1rem;
  padding-bottom: 13rem;
}

.favouriteList-laptop {
  display: none;
}

.favouriteList .albumFav {
  width: 10rem;
  height: 10rem;
  object-fit: cover;
  border-radius: 0.4rem;
}

.searchContainer p {
  margin: 1rem;
  text-align: left;
  color: var(--white);
  font-size: 1.4rem;
  font-weight: 400;
}

.searchContainer img {
  width: 4rem;
  height: 4rem;
  object-fit: cover;
}

.search-section {
  padding-bottom: 11rem;
}

.artistsTitle {
  display: none;
  justify-content: left;
  font-size: 2.4rem;
  font-weight: 600;
  color: var(--white);
  padding: 2rem;
}

.section-artists {
  display: none;
  gap: 1rem;
  justify-content: space-around;
}

.section-artists .artist-card {
  display: flex;
  flex-direction: column;
  text-align: center;
  color: var(--white);
  font-size: 600;
  padding-top: 1rem;
}

.section-artists .artist-card .artist-photo {
  width: 10rem;
  height: 10rem;
  border-radius: 5rem;
}

@media screen and (min-width: 1200px) {
  .welcomeTitle,
  .welcome-user {
    display: none;
  }
  .newIn {
    padding: 0.5rem;
    margin-left: 1rem;
  }

  .favouriteList {
    display: none;
  }

  .favouriteList-laptop {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    justify-content: center;
    gap: 1rem;
    padding: 1rem;
    cursor: pointer;
  }

  .favouriteList-laptop .containter {
    background-color: var(--gray-primary);
    display: flex;
    flex-direction: row;
    align-items: center;
    width: 100%;
    border-radius: 0.6rem;
  }

  .favouriteList-laptop .containter:hover {
    transition: background-color 0.2s ease;
    background-color: rgba(196, 172, 38, 0.3);
  }

  .favouriteList-laptop .containter .albumFav-laptop {
    width: 10rem;
    height: 10rem;
    object-fit: cover;
    border-radius: 1.5rem;
    padding: 0.8rem;
  }

  .favouriteList-laptop .containter .albumFav-trackName {
    font-size: 1.2rem;
    font-weight: 600;
    color: var(--white);
  }

  .artistsTitle {
    display: flex;
    padding: 0.5rem;
  }
  .section-artists {
    display: flex;
    padding-bottom: 7rem;
  }
  .section-artists .artist-photo {
    margin-bottom: 1rem;
    width: 11rem;
    height: 11rem;
  }
}
