.welcomeTitle {
  padding-top: 3rem;
  color: var(--white);
  font-size: 3.2rem;
  font-weight: 600;
}

.welcome-user {
  padding-bottom: 2rem;
  color: var(--white);
  font-size: 3.2rem;
  font-weight: 600;
}

.newIn {
  display: flex;
  justify-content: left;
  font-size: 2.4rem;
  font-weight: 600;
  color: var(--white);
  padding: 2rem;
}

.newInSection {
  display: flex;
  justify-content: center;
  align-items: flex-start;
  flex-wrap: wrap;
  gap: 2rem;
}

.favouriteList {
  display: flex;
  justify-content: center;
  align-items: top;
  flex-direction: row;
  flex-wrap: wrap;
  gap: 1rem;
  padding: 1rem;
  padding-bottom: 13rem;
}

.favouriteList .albumFav {
  width: 6rem;
  height: 6rem;
  object-fit: cover;
  border-radius: 0.4rem;
}

.searchContainer p {
  margin: 1rem;
  text-align: left;
  color: var(--white);
  font-size: 1.4rem;
  font-weight: 400;
}

.searchContainer img {
  width: 4rem;
  height: 4rem;
  object-fit: cover;
}

.search-section {
  padding-bottom: 11rem;
}
