.albumCard {
  width: 100%;
  padding: 0.8rem;
  margin: 0 0 0 -1rem;
  border-radius: 0.8rem;
  transition: background-color 0.2s ease;
}

.albumCard .albumPhoto {
  width: 100%;
  height: auto;
  border-radius: 0.6rem;
}

.albumCard .artistTitle {
  font-size: 1.2rem;
  padding: 0.5rem 0.5rem 0 0.5rem;
  text-align: left;
  font-weight: 600;
  color: var(--white);
}

.albumCard .albumTitle {
  color: var(--gray-tertiary);
  font-size: 1.2rem;
  text-align: left;
  padding: 0.2rem 0.5rem;
}

@media screen and (min-width: 1200px) {
  .albumCard:hover {
    background-color: var(--gray-primary);
  }
}