.songCard {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  padding: 2rem;
  margin-top: 5rem;
  color: var(--white);
}

.songCard .songPhoto {
  margin-top: 6rem;
  border-radius: 1rem;
  object-fit: cover;
  width: 30rem;
  height: 30rem;
  margin-bottom: 2rem;
}

.songCard .songInfo {
  display: flex;
  justify-content: space-between;
  width: 70%;
  text-align: left;
}

.songCard .songInfo img {
  width: 2rem;
}
.songCard .songInfoTitle {
  font-weight: 600;
  font-size: 2rem;
}
.songCard .songInfoArtist {
  font-size: 1.5rem;
}

.playerSection {
  padding: 10rem;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 1.5rem;
}

.playerSection button {
  background-color: transparent;
  border: none;
}

.player-section ~ .player-bar {
  display: none;
}

.slider {
  width: 95px;
}

.audio-slider {
  width: 40rem;
  margin: 2rem;
}

.duration {
  color: white;
}
