.signup {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  height: 100vh;
  gap: 4rem;
}

.formSignUp {
  display: flex;
  flex-direction: column;
  gap: 2rem;
  align-items: center;
}

.welcomeText {
  color: var(--white);
  font-size: 1.7rem;
  font-weight: 600;
}
