.slider1 {
  position: relative;
  display: flex;
  touch-action: none;
  user-select: none;
  align-items: center;
}

.slider2 {
  position: relative;
  height: 1rem;
  width: 100%;
  flex-grow: 1;
  overflow: hidden;
  border-radius: 9999px; /* Esto es para lograr un efecto de borde redondeado completo */
  background-color: var(--white);
}

.slider3 {
  position: absolute;
  height: 100%;
  background-color: var(--gray-tertiary);
}

.slider4 {
  display: block;
  height: 1.25rem; /* Equivalente a 5px si estás usando el tamaño base de 16px en Tailwind */
  width: 1.25rem; /* Equivalente a 5px si estás usando el tamaño base de 16px en Tailwind */
  border-radius: 50%;
  border-width: 2px;
  border-color: var(
    --color-primary
  ); /* Reemplaza "--color-primary" con tu color deseado */
  background-color: var(
    --color-background
  ); /* Reemplaza "--color-background" con tu color deseado */
  outline: none;
  transition: color 0.3s ease; /* Ajusta la propiedad y la duración según tus necesidades */
  cursor: pointer;
}

.slider4 {
  outline: none;
  border: 2px solid var(--gray-secondary); /* Reemplaza "--color-ring" con tu color deseado */
  background-color: var(
    --gray-secondary
  ); /* Ajusta el valor según tus necesidades */
}

.slider4:disabled {
  pointer-events: none;
  opacity: 0.5; /* Ajusta el valor según tus necesidades */
}
