.slider1 {
  position: relative;
  display: flex;
  align-items: center;
  touch-action: none;
  user-select: none;
}

.slider2 {
  position: relative;
  height: 0.3rem;
  width: 100%;
  flex-grow: 1;
  overflow: hidden;
  border-radius: 2rem;
  background-color: var(--white);
}

.slider3 {
  position: absolute;
  height: 100%;
  background-color: var(--gray-tertiary);
}

.slider4 {
  display: block;
  height: 0.7rem;
  width: 0.7rem;
  border-radius: 50%;
  border-width: 2px;
  border-color: var(--color-primary);
  background-color: var(--color-background);
  outline: none;
  transition: color 0.3s ease;
  cursor: pointer;
}

.slider4 {
  outline: none;
  border: 2px solid var(--gray-secondary);
  background-color: var(--gray-secondary);
}

.slider4:disabled {
  pointer-events: none;
  opacity: 0.5;
}
